@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 274;
    font-display: swap;
    src: url(/fonts/SF-Pro.woff) format('woff');
  }
}