@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.logoCarousel {
  max-width: 100%;
  overflow: hidden;
}

.logoContainer {
  transition: transform 0.5s ease-in-out; /* Adjust animation speed and easing */
}

.logoItem {
  flex-shrink: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.shutter {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

body, html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@media (min-width: 768px) {
  .shutter {
    transform: translateY(-100vh);
  }
}

.pt-screen {
  padding-top: 100vh;
}

/* styles.css */
body {
  cursor: none; /* Hide the default cursor */
}

.custom-cursor {
  position: fixed;
  width: 10px;
  height: 10px;
  background-color: yellow;
  border-radius: 50%;
  pointer-events: none; /* Prevent the cursor from blocking interactions */
  z-index: 9999;
  transform: translate(-50%, -50%);
}

.hollow-circle {
  position: fixed;
  width: 30px;
  height: 30px;
  border: 2px solid yellow;
  border-radius: 50%;
  pointer-events: none; /* Prevent the circle from blocking interactions */
  z-index: 9998;
  transform: translate(-50%, -50%);
}

.container {
  position: relative;
  width: 100%;
  height: 100vh; /* Full viewport height */
}

.responsive-image {
  position: absolute;
  right: 44px;
  bottom: 44px;
  width: calc(40vw); /* Scale based on viewport width */
  height: auto; /* Maintain aspect ratio */
  max-width: 408px; /* Max size based on your design */
  max-height: 612px; /* Max height based on your design */
}


/*text*/

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/SF-Pro.ttf") format("truetype");
}

.text-landing-thin {
  color: var(--Secondary-000000, #000);
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 274;
  letter-spacing: -1.2px;
  text-transform: uppercase;
}

.text-description {
  color: var(--Secondary-171717, #171717);
  font-family: "SF Pro";
  font-size: 1.771vw;
  font-style: normal;
  font-weight: 860;
  line-height: 1.458vw; /* Ensure line-height is appropriate for the font size */
  letter-spacing: -0.106vw;
  text-transform: uppercase;
  flex-grow: 1; /* Allow the description to take up available space */
}
