.logoBox {
    /* Centering the logo */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logoBox img {
    transition: opacity 0.5s ease-in-out;
  }

  .logoContainer {
    background-color: #f0f0f0; /* Optional background color */
  }
  
  .simpleText {
    margin-bottom: 20px; /* Adjust margin as needed */
  }


.innerLogoBox {
    position: relative;
  }

  .row {
    margin-bottom: 20px; /* Adjust margin as needed */
  } 