/* styles/OfficeLocation.module.css */

.mapContainer {
    position: relative;
    width: 600px;
    height: 450px;
  }
  
  .mapWrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0); /* Light overlay with 30% opacity */
    pointer-events: none; /* Allow clicks to pass through the overlay */
  }